{
  "plugins": [
    "add-module-exports",
    ["transform-es2015-modules-umd", {
      "globals":{
        "priority-queue": "PriorityQueue"
      },
      "exactGlobals": true
    }],
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
